<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú Principal - Calculadora de Pensiones</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid #ddd;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
            text-align: left;
        }
        tr:nth-child(even) {background-color: #f9f9f9;}
        tr:hover {background-color: #ddd;}
    </style>
</head>
<body>
    <h1>Calculadora de Pensiones</h1>
    <ul>
        <li><a href="/nueva_simulacion">Nueva Simulación</a></li>
        <li><a href="/historial_simulaciones">Historial de Simulaciones</a></li>
    </ul>

    <div>
        <h1>Historial de simulaciones</h1>
        <table>
            <thead>
                <tr>
                    <th>Edad Actual</th>
                    <th>Sexo</th>
                    <th>Salario Actual</th>
                    <th>Ahorro Actual</th>
                    <th>Semanas Laboradas</th>
                    <th>Rentabilidad del Fondo (%)</th>
                    <th>Tasa de Administración (%)</th>
                </tr>
            </thead>
        <tbody>
            {% for simulacion in simulaciones %}
            <tr>
                <td>{{ simulacion.edad_actual }}</td>
                <td>{{ simulacion.sexo }}</td>
                <td>{{ simulacion.salario_actual }}</td>
                <td>{{ simulacion.ahorro_actual }}</td>
                <td>{{ simulacion.semanas_laboradas }}</td>
                <td>{{ simulacion.rentabilidad_fondo }}</td>
                <td>{{ simulacion.tasa_administracion }}</td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
        <form action="/eliminar_historial" method="post" style="margin-top: 20px;">
            <button type="submit">Eliminar historial</button>
        </form>
    </div>
</body>
</html>    